{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="container">
    <h3>Stocks Viewer</h3>
    <div class="row">
        <div class="'col-md-4">
            {{ wtf.quick_form(find_stock_form) }}
        </div>
    </div>
    <br/>
    {% if stocks %}
    <div class="row">
        {% for stock in stocks %}
        <p>{{stock.ticker}} <a href="ticker/{{stock.ticker}}">View data</a></p>
        {% endfor %}
    </div> 
    {% endif %}
</div>
{% endblock %}
